nav{
    background-color: rgba(10, 10, 10, 1);
}

.navbar-toggler-icon{
    
   background-image: url(bx-menu-white.svg);
}


.nav-link
{
    color: rgb(255, 255, 255);
}

#current
{
    color:rgba(8, 139, 180, 1);
}

.nav-link:hover
{
    color:yellow;
}