.nav-link
{
    color: white;
}

#current
{
    color:gray;
}

#perfil
{
    padding: 0.6%;
    color: white;
    float: right;
    position: relative;
    left: -4%;
    border: 1px solid white;
    border-radius: 30%;
    text-decoration: none;
}

#perfil:hover
{
    color:black;
    background-color: white;
}