@import url(Nav.css);
body{
    background-color: black;;
}


h1 {
    color: #fff;
    display: flex;
    font-size: 2em;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 2em;
    display: flex;
}
.text-uppercase.border-bottom.mb-4{
    color: rgb(255, 255, 255);
    display: block;
    font-size: 2em;
    text-transform: uppercase;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.picture-in-card{
    width: 10em;
}


.ejercicios-wrapper{
    display: flex;
}
.category-list{
    display: flex;
    flex-direction: column;
    width: 18%;
}
.category-list .categoryItem{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: dimgrey;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.category-list .ct-item-active{
    background:#000070;
}

img{
    height: auto;
    width: auto;
    max-height: 200px;
}