body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

i:hover{
    cursor: pointer;
}
    

.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('https://juanjosetpc.github.io/Proyecto.github.io/images/landpage.jpg');
  min-height: 100%;
  
}

@media screen and (max-width: 600px) {
  #footer {
    padding: 32px;
  }
  .w3-col {
    width: 100%;
    margin-bottom: 16px;
  }
}

/* For screens larger than 600px */
@media screen and (min-width: 600px) {
  #footer {
    padding: 64px;
  }
  .w3-col {
    width: 50%;
    margin-bottom: 0;
  }
}


#pumpPower
{
    display: block;
    
    width: auto;
    
  position: absolute;
  top: 0;
  left: 0;
}

#iniciar
{
  margin: 5%;
  margin-top: 10%;
}

#registro
{
  margin: 5%;
  margin-top: 10%;
  
}

#texto
{
  font-family:serif;
  font-size: 400%;
  color:beige;
  margin: 10%;

}

