nav{
    background-color: rgba(10, 10, 10, 1);
}

.navbar-toggler-icon{
    
   background-image: url(bx-menu-white.svg);
}


.nav-link
{
    color: rgb(255, 255, 255);
}

#current
{
    color:#088BB4;
}

.nav-link:hover
{
    color:yellow;
}

#barra{
    background-color: #0A0A0A;
}